input {
  #beats {}
  gelf {
    id => "gelf_plugin_id"
  }

  http {
    id => "http_plugin_id"
  }

}

filter {
  if [message] =~ "plusserver-logging" {
    grok {
      match => ["message", "^(plusserver-logging)"]
      add_tag => ["stacktrace"]
    }
  }
}

output {
  elasticsearch {
    hosts => "elasticsearch:9200"
  }

  stdout {
    codec => rubydebug
  }

  file {
    path => "/logstash/logstash.txt"
    codec => rubydebug
  }
}